html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  text-transform: capitalize;
  position: relative;
  font-family: "Romana Becker";
  font-weight: normal;
  font-size: 74px;
  line-height: 80px;
}

h3 {
  font-family: "Romana Becker";
  font-weight: normal;
  font-size: 53px;
  line-height: 67px;
}

h4 {
  font-family: "Romana Becker";
  font-weight: normal;
  font-size: 46px;
  line-height: 59px;
}

p {
  font-family: "Lexend Deca";
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 50px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f3f5fa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h6 {
  font-family: "Lexend Deca";
  font-size: calc(18px + 0.469vw);
  line-height: 120%;
  color: #8e8b5c;
  max-width: 975px;
}

.section-title p {
  color: #8e8b5c;
  opacity: 0.75;
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Banner
--------------------------------------------------------------*/
.banner {
  width: 100%;
  height: 110vh;
  background-image: url("../assets/img/banner.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

.banner .container {
  padding-top: 72px;
}

.banner .container .bg-banner {
  background: #ffffffb0;
  padding: 2.5rem;
}

.banner-title {
  font-family: Roboto;
  font-size: calc(17px + 0.625vw);
  line-height: 120%;
  color: #8e8b5c;
  margin-bottom: 25px;
}

.banner-text {
  text-transform: uppercase;
  font-family: "Lexend Deca";
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #4b342c;
}

/*--------------------------------------------------------------
# Artists
--------------------------------------------------------------*/
.artist-container {
  padding-top: 30px;
}

.artist .artist-item {
  margin-bottom: 60px;
}

.artist .artist-item .artist-info {
  position: absolute;
  left: 1.5rem;
  right: 1.5rem;
  bottom: -2.5rem;
  z-index: 3;
  transition: all 0.3s;
  background: #8e8b5c;
  padding: 10px 15px;
  border-radius: 0px;
}

.artist .artist-item .artist-info p {
  color: #f9fcfe;
}

.artist-img {
  filter: grayscale(100%);
}

.btn-meet {
  background-color: #4b342c !important;
  border-color: #707070;
}

.block {
  background: #4b342c;
}

.bg-service {
  background-color: #8e8b5c;
}

.dual-content {
  background: #00BCD4;
  position: relative;
}

.quotes {
  font-family: "SF Pro Display";
  font-size: 29px;
  line-height: 42px;
  color: #4b342c;
  margin-bottom: 24px;
}

.name-artist {
  font-family: "Lexend Deca";
  text-align: left;
  color: #4b342c;
  font-weight: 300;
}

.service-image .container-fluid .padding-less.img {
  background: url("../assets/img/book.png") scroll center no-repeat;
  background-size: cover;
  position: absolute;
  height: 100%;
}

.service-image .service-image-img-box {
  padding: 12% 10%;
}

@media (max-width: 992px) {
  h2 {
    font-size: 24px;
    line-height: 26px;
  }

  h3 {
    font-size: 24px;
    line-height: 26px;
  }

  h4 {
    font-size: 24px;
    line-height: 26px;
  }

  p {
    font-family: "Lexend Deca";
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0;
  }

  .banner-text {
    font-size: 12px;
    line-height: 19px;
  }

  .name-artist {
    text-align: center;
  }

  .container {
    padding: 0 25px;
  }

  .quotes {
    font-size: 17px;
    line-height: 27px;
    text-align: center;
  }

  .service-image-img-box {
    text-align: center;
  }

  .service-image .service-image-content {
    text-align: left !important;
  }

  .service-image .padding-less {
    order: 1;
    position: relative !important;
    height: 300px !important;
  }

  .bg-audio {
    height: 30vh !important;
  }

  .bg-audio .play-btn {
    height: 33px !important;
    width: 33px !important;
    font-size: 30px;
    line-height: 78px;
    display: inline-block;
  }

  .bg-audio h6 {
    display: none !important;
  }

  .profit-title {
    text-align: center !important;
    text-transform: capitalize;
  }

  .benefit-item {
    text-align: center;
    /* bottom: -20rem;
    padding: 8% 14% !important; */
  }

  .benefit-item a {
    display: inline-block !important;
  }
}

@media (min-width: 992px) {
  .order-lg-1 {
    order: 1 !important;
  }
}

.order-1 {
  order: 1 !important;
}

/*--------------------------------------------------------------
# Audio
--------------------------------------------------------------*/
.bg-audio {
  height: 83vh;
  background: url("../assets/img/audio-book.png") center center no-repeat;
  background-size: 100% 100%;
}

.bg-audio .play-btn {
  height: 80px;
  width: 80px;
  font-size: 30px;
  line-height: 78px;
  display: inline-block;
}

.bg-profit {
  position: relative;
  height: 70vh;
  background: url("../assets/img/profit-bg.png") center center no-repeat;
  background-position: 100% 100%;
}

.profit-title p {
  opacity: 0.75;
}

.btn-donate {
  background-color: #8e8b5c !important;
  border-color: #8e8b5c !important;
  text-transform: uppercase;
}

.bg-benefit {
  position: relative;
  top: -35px;
  height: 120vh;
  background: url("../assets/img/read-book.png") center center no-repeat;
  background-size: 100% 100%;
}

.benefit-item {
  position: relative;
  background-color: #4b342c;
  padding: 4% 4%;
}

.benefit-item p {
  opacity: 0.75;
}

.bg-about {
  position: relative;
  top: -35px;
  background-color: #dcdcdc;
  background-size: 100% 100%;
}